<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jy.moudles.statistics.dao.RegionDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.statistics.entity.Region">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="region_code" property="regionCode" jdbcType="VARCHAR"/>
		<result column="region_name" property="regionName" jdbcType="VARCHAR"/>
		<result column="region_p_id" property="regionPId" jdbcType="VARCHAR"/>
		<result column="region_level" property="regionLevel" jdbcType="VARCHAR"/>
		<result column="region_order" property="regionOrder" />
		<result column="region_name_en" property="regionNameEn" jdbcType="VARCHAR"/>
		<result column="region_shortname_en" property="regionShortnameEn" jdbcType="VARCHAR"/>
		<result column="region_bsid" property="regionBsid" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, region_code, region_name, region_p_id, region_level, region_order, region_name_en, region_shortname_en, region_bsid, remark, create_user, create_date, update_user, update_date
    </sql>
    
    <select id="queryRegionsFilter" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from `JY_REGION_TAB`
        WHERE 1 = 1
			<if test="regionCode != null and '' != regionCode">
				AND region_code = #{regionCode}
			</if>
			<if test="regionName != null and '' != regionName">
				AND region_name = #{regionName}
			</if>
			<if test="regionPId != null and '' != regionPId">
				AND region_p_id = #{regionPId}
			</if>
			<if test="regionLevel != null and '' != regionLevel">
				AND region_level = #{regionLevel}
			</if>
			<if test="regionOrder != null and '' != regionOrder">
				AND region_order = #{regionOrder}
			</if>
			<if test="regionNameEn != null and '' != regionNameEn">
				AND region_name_en = #{regionNameEn}
			</if>
			<if test="regionShortnameEn != null and '' != regionShortnameEn">
				AND region_shortname_en = #{regionShortnameEn}
			</if>
			<if test="regionBsid != null and '' != regionBsid">
				AND region_bsid = #{regionBsid}
			</if>
			<if test="remark != null and '' != remark">
				AND remark = #{remark}
			</if>
		ORDER BY region_code
    </select>
    
     <select id="getCodeByName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> 
        from `jy_region_tab`
        WHERE region_name = #{name}
    </select>
    
     <select id="getRegionByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from `jy_region_tab`
        WHERE region_code = #{code}
    </select>
    
    <select id="getRegionByPid" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from `jy_region_tab`
        WHERE region_p_id = #{pid} and region_name != '市辖区'
    </select>
    
    <select id="getRegionById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from `jy_region_tab`
        WHERE id = #{id}
    </select>
</mapper>