<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.main.dao.MenuDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.main.entity.Menu">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="bsid" property="bsid" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_order" property="menuOrder" jdbcType="TINYINT" />
		<result column="permission_id" property="permissionId" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="menu_level" property="menuLevel" jdbcType="TINYINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<!--<collection property="sonMenus" column="{bsid=bsid,level=menu_level}" select="querySonMenusByBsid"></collection>-->
	</resultMap>
    
    <sql id="Base_Column_List">
        id, bsid, menu_name, menu_order, url, menu_level, permission_id, remark, is_delete, create_user, create_date, update_user, update_date
    </sql>
    
    <select id="queryMenus" resultMap="BaseResultMap">
        <!-- SELECT
        	<include refid="Base_Column_List"/>
        from `jy_menu_tab`
        WHERE is_delete = 0
        <if test="menuLevel != null and '' != menuLevel">
				AND menu_level = #{menuLevel}
		</if>
		 <if test="permissionId != null and '' != permissionId">
				AND permission_id = #{permissionId}
		</if>
        ORDER BY menu_order -->
        <!--SELECT
			DISTINCT(m.id),m.bsid, m.menu_name, m.menu_order, m.url, m.menu_level, m.permission_id, m.remark, m.is_delete, m.create_user, m.create_date, m.update_user, m.update_date 
		FROM
			jy_menu_tab m
		JOIN jy_menu_permission_tab mp ON m.id = mp.menu_id
		JOIN (
			SELECT
				rp.permission_id
			FROM
				jy_role_permission_relation_tab rp
			JOIN jy_user_tab u ON rp.role_id = u.role_id
			WHERE 1 = 1 
				<if test="userId != null and '' != userId">
					AND u.id = #{userId}
				</if>
		) a ON mp.permission_id = a.permission_id 
		WHERE m.is_delete = 0 
		ORDER BY m.menu_order-->

		SELECT
			DISTINCT(m.id),m.bsid, m.menu_name, m.menu_order, m.url, m.menu_level, m.permission_id, m.remark,
			m.is_delete, m.create_user, m.create_date, m.update_user, m.update_date
		FROM jy_menu_tab  m,jy_user_tab u,jy_role_permission_relation_tab rp
		WHERE m.is_delete = 0
			AND rp.role_id = u.role_id
			AND m.permission_id = rp.permission_id
			AND u.id = #{userId}
		ORDER BY m.menu_order
    </select>
    
    <!-- 超级管理员直接查所有权限 -->
    <select id="queryAllMenus" resultMap="BaseResultMap">
    	 SELECT
			<include refid="Base_Column_List"/>
		FROM
			jy_menu_tab 
		WHERE is_delete = 0 
		ORDER BY menu_order
    </select>
    
    <select id="querySonMenusByBsid" resultMap="BaseResultMap">
        SELECT
        	<include refid="Base_Column_List"/>
        from `jy_menu_tab`
        WHERE is_delete = 0
        AND menu_level = (#{level} + 1)
        AND substring(bsid, 1, ((#{level} * 5) + #{level} - 1)) = substring(#{bsid}, 1, ((#{level} * 5) + #{level} - 1))
        ORDER BY menu_order
    </select>
    
    <select id="queryResourceByMenuIds" resultType="java.lang.String">
        SELECT
       		url
        from `jy_resource_tab`
        where menu_id IN 
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </select>
    
    
</mapper>