<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.systemConfig.dao.SystemConfigDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.systemConfig.entity.SystemConfig">
		<id column="sys_key" property="sysKey" jdbcType="VARCHAR"/>
		<result column="sys_value" property="sysValue" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        sys_key, sys_value
    </sql>
    
    <insert id="insertSystemConfig">
        INSERT INTO JY_SYSTEM_CONFIG_TAB
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysKey != null">sys_key,</if>
			<if test="sysValue != null">sys_value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysKey != null">#{sysKey},</if>
			<if test="sysValue != null">#{sysValue},</if>
        </trim>
    </insert>
    
    <update id="updateSystemConfig">
        update JY_SYSTEM_CONFIG_TAB
        <set>
			<if test="sysValue != null and '' != sysValue">
				sys_value = #{sysValue},
			</if>
        </set>
        <where>
            <choose>
                <when test="sysKey != null">
                    sys_key = #{sysKey}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getSystemConfigByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from `JY_SYSTEM_CONFIG_TAB`
        WHERE sys_key = #{sysKey}
    </select>
    
    <select id="querySystemConfigsFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_SYSTEM_CONFIG_TAB`
        WHERE 1 = 1
			<if test="sysKey != null and '' != sysKey">
				AND sys_key = #{sysKey}
			</if>
			<if test="sysValue != null and '' != sysValue">
				AND sys_value = #{sysValue}
			</if>
    </select>
    
    <delete id="deleteSystemConfigByKey" parameterType="java.lang.String">
        delete from `JY_SYSTEM_CONFIG_TAB`
        where sys_key = #{sysKey}
    </delete>
    
    <delete id="deleteSystemConfigs" parameterType="java.lang.String">
        delete from `JY_SYSTEM_CONFIG_TAB`
        where sys_key IN 
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>