<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.systemLog.dao.SystemLogDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.systemLog.entity.SystemLog">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="operation_event" property="operationEvent" jdbcType="VARCHAR"/>
		<result column="operation_user" property="operationUser" jdbcType="VARCHAR"/>
		<result column="operation_ip" property="operationIp" jdbcType="VARCHAR"/>
		<result column="operation_time" property="operationTime"/>
		<result column="operation_type" property="operationType" jdbcType="TINYINT"/>
		<result column="org_id" property="orgId" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate"/>
        <association property="user" javaType="com.jy.moudles.user.entity.User">
            <id column="id" property="id" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="sex" property="sex" />
			<result column="age" property="age" />
			<result column="email" property="email" jdbcType="VARCHAR" />
			<result column="phone" property="phone" jdbcType="VARCHAR" />
			<result column="mobile" property="mobile" jdbcType="VARCHAR" />
			<result column="user_name" property="userName" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, operation_event, operation_user, operation_ip, operation_time, operation_type, org_id, create_user, create_date, update_user, update_date
    </sql>
    
    <insert id="insertSystemLog">
        INSERT INTO JY_SYSTEM_LOG_TAB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="operationEvent != null">operation_event,</if>
			<if test="operationUser != null">operation_user,</if>
			<if test="operationIp != null">operation_ip,</if>
			<if test="operationTime != null">operation_time,</if>
			<if test="operationType != null">operation_type,</if>
			<if test="orgId != null">org_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="operationEvent != null">#{operationEvent},</if>
			<if test="operationUser != null">#{operationUser},</if>
			<if test="operationIp != null">#{operationIp},</if>
			<if test="operationTime != null">#{operationTime},</if>
			<if test="operationType != null">#{operationType},</if>
			<if test="orgId != null">#{orgId},</if>
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    
    <select id="getSystemLogById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_SYSTEM_LOG_TAB`
        WHERE id = #{id}
    </select>
    
    <select id="querySystemLogsFilter" resultMap="BaseResultMap">
        SELECT log.*,u.* 
        from `JY_SYSTEM_LOG_TAB` log,jy_user_tab u 
        WHERE 1 = 1 AND log.operation_user = u.id
			<if test="operationEvent != null and '' != operationEvent">
				AND log.operation_event like CONCAT('%',#{operationEvent},'%')
			</if>
			<if test="operationUser != null and '' != operationUser">
				AND log.operation_user = #{operationUser}
			</if>
			<if test="operationIp != null and '' != operationIp">
				AND log.operation_ip = #{operationIp}
			</if>
			<if test="operationTime != null and '' != operationTime">
				AND log.operation_time = #{operationTime}
			</if>
			<if test="operationType != null and '' != operationType">
				AND log.operation_type = #{operationType}
			</if>
			<if test="orgId != null and '' != orgId">
				AND log.org_id = #{orgId}
			</if>
			<if test="userName != null and '' != userName">
				AND u.user_name like CONCAT('%',#{userName},'%')
			</if>
		ORDER BY log.operation_time desc
    </select>
    
    <delete id="deleteSystemLogs" parameterType="java.lang.String">
        delete from `JY_SYSTEM_LOG_TAB`
        where id IN 
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>