<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.questionItems.dao.QuestionItemsDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.questionItems.entity.QuestionItems">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="question_id" property="questionId" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="answer_item" property="answerItem" jdbcType="VARCHAR"/>
		<result column="answer_key" property="answerKey" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, question_id, sort, answer_item, answer_key
    </sql>
    
    <insert id="insertQuestionItems">
        INSERT INTO QUESTION_ITEMS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="questionId != null">question_id,</if>
			<if test="sort != null">sort,</if>
			<if test="answerItem != null">answer_item,</if>
			<if test="answerKey != null">answer_key,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="questionId != null">#{questionId},</if>
			<if test="sort != null">#{sort},</if>
			<if test="answerItem != null">#{answerItem},</if>
			<if test="answerKey != null">#{answerKey},</if>
        </trim>
    </insert>
    
    <update id="updateQuestionItems">
        update QUESTION_ITEMS
        <set>
			<if test="questionId != null and '' != questionId">
				question_id = #{questionId},
			</if>
			<if test="sort != null and '' != sort">
				sort = #{sort},
			</if>
			<if test="answerItem != null and '' != answerItem">
				answer_item = #{answerItem},
			</if>
			<if test="answerKey != null and '' != answerKey">
				answer_key = #{answerKey},
			</if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getQuestionItemsById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `QUESTION_ITEMS`
        WHERE id = #{id}
    </select>
    
    <select id="queryQuestionItemssFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `QUESTION_ITEMS`
        WHERE 1 = 1
			<if test="questionId != null and '' != questionId">
				AND question_id = #{questionId}
			</if>
			<if test="sort != null and '' != sort">
				AND sort = #{sort}
			</if>
			<if test="answerItem != null and '' != answerItem">
				AND answer_item = #{answerItem}
			</if>
			<if test="answerKey != null and '' != answerKey">
				AND answer_key = #{answerKey}
			</if>
    </select>
    
    <delete id="deleteQuestionItemsById" parameterType="java.lang.String">
        delete from `QUESTION_ITEMS`
        where id = #{id}
    </delete>
    
    <delete id="deleteQuestionItemss" parameterType="java.lang.String">
        delete from `QUESTION_ITEMS`
        where id IN 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>