<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.user.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.user.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="user_tel" property="userTel" jdbcType="VARCHAR"/>
		<result column="user_sex" property="userSex" jdbcType="TINYINT"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR"/>
		<result column="passwrod" property="passwrod" jdbcType="VARCHAR"/>
		<result column="user_img" property="userImg" jdbcType="VARCHAR"/>
		<result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
		<result column="open_id" property="openId" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, user_name, user_tel, user_sex, login_name, user_img, org_code,
         open_id, create_user, create_date, update_user, update_date
    </sql>
    
    <insert id="insertUser">
        INSERT INTO USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="userName != null">user_name,</if>
			<if test="userTel != null">user_tel,</if>
			<if test="userSex != null">user_sex,</if>
			<if test="loginName != null">login_name,</if>
			<if test="passwrod != null">passwrod,</if>
			<if test="userImg != null">user_img,</if>
			<if test="orgCode != null">org_code,</if>
			<if test="openId != null">open_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="userName != null">#{userName},</if>
			<if test="userTel != null">#{userTel},</if>
			<if test="userSex != null">#{userSex},</if>
			<if test="loginName != null">#{loginName},</if>
			<if test="passwrod != null">#{passwrod},</if>
			<if test="userImg != null">#{userImg},</if>
			<if test="orgCode != null">#{orgCode},</if>
			<if test="openId != null">#{openId},</if>
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    
    <update id="updateUser">
        update USER
        <set>
			<if test="userName != null and '' != userName">
				user_name = #{userName},
			</if>
			<if test="userTel != null and '' != userTel">
				user_tel = #{userTel},
			</if>
			<if test="userSex != null and '' != userSex">
				user_sex = #{userSex},
			</if>
			<if test="loginName != null and '' != loginName">
				login_name = #{loginName},
			</if>
			<if test="passwrod != null and '' != passwrod">
				passwrod = #{passwrod},
			</if>
			<if test="userImg != null and '' != userImg">
				user_img = #{userImg},
			</if>
			<if test="orgCode != null and '' != orgCode">
				org_code = #{orgCode},
			</if>
			<if test="openId != null and '' != openId">
				open_id = #{openId},
			</if>
            <if test="createUser != null and ''!=createUser">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and ''!=createDate">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null and ''!=updateUser">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null  and ''!=updateDate">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getUserById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `USER`
        WHERE id = #{id}
    </select>
    
    <select id="getUserByNameAndPwd" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `USER`
        WHERE login_name = #{logingName} AND passwrod = #{passwrod}
    </select>
    
    <select id="queryUsersFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `USER`
        WHERE 1 = 1
			<if test="userName != null and '' != userName">
				AND user_name = #{userName}
			</if>
			<if test="userTel != null and '' != userTel">
				AND user_tel = #{userTel}
			</if>
			<if test="userSex != null and '' != userSex">
				AND user_sex = #{userSex}
			</if>
			<if test="loginName != null and '' != loginName">
				AND login_name = #{loginName}
			</if>
			<if test="passwrod != null and '' != passwrod">
				AND passwrod = #{passwrod}
			</if>
			<if test="userImg != null and '' != userImg">
				AND user_img = #{userImg}
			</if>
			<if test="orgCode != null and '' != orgCode">
				AND org_code = #{orgCode}
			</if>
			<if test="openId != null and '' != openId">
				AND open_id = #{openId}
			</if>
    </select>
    
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from `USER`
        where id = #{id}
    </delete>
    
    <delete id="deleteUsers" parameterType="java.lang.String">
        delete from `USER`
        where id IN 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>