/*头部通用样式*/
body{
	position:relative;
}
nav,a{
	background:#ca2450;
	color:#fff;
}
nav{
	height:40px;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
nav .titleNav{
	width:100%;
	line-height:40px;
	position:relative;
	text-align:center;
	font-size:18px;
}
nav .navLeft{
	width:24px;
	height:24px;
	line-height:23px;
	position:absolute;
	left:5%;
	top:8px;
	padding:0px 5px;
	z-index:99;
}
nav .navRight{
	width:24px;
	height:24px;
	line-height:23px;
	position:absolute;
	right:5%;
	top:8px;
	padding:0px 5px;
	z-index:99;
}
.afterNav{
	padding-top:40px;
}

/*表单相关*/
.soukyForm{
	width:100%;
	margin:auto;
}
.soukyForm .textInput{
	height:60px;
}
.soukyForm .textInput:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.soukyForm .textInput label{
	width:26%;
	display:block;
	text-align:right;
	font-size:16px;
	float:left;
	height:30px;
	line-height:36px;
	padding-right:4%;
}
.soukyForm .textInput input{
	width: 55%;
	float: left;
	display: block;
	padding:0 3%;
	border: none;
	border-bottom:1px #c7c7c7 solid;
	height:25px;
	padding-top:5px;
	line-height:30px;
	font-size:16px;
}

.soukyForm input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0px;
    border-bottom-color:#ca2450
}
:focus {
    outline: -webkit-focus-ring-color none 0px;
}

.soukyForm .btn{
	width:60%;
	margin:10px auto;
	border:1px #c7c7c7 solid;
	border-radius:4px;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:18px;
}

/*全局通知*/
#S_Toast{
	position:fixed;
	bottom:20%;
	left:0;
	width:100%;
	height:50px;
	text-align:center;
	color:#fff;
	display:none;
	z-index:999;
}
#S_Toast .toast{
	width:80%;
	margin:auto;
	height:50px;
	line-height:50px;
	border-radius:5px;
	font-size:16px;
}
#S_Toast .success{
	background:#42d44e;
}
#S_Toast .error{
	background:#e82418;
}
#S_Toast .info{
	background:#1bada7;
}


/*loading框*/
#S_Loading{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	display:none;
}
#S_Loading .loading{
	width:180px;
	height:180px;
	margin:60% auto;
	background:rgba(0,0,0,0.93);
	color:#fff;
	border-radius:5px;
}
#S_Loading .loading .close{
	width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 145px;
}

@keyframes loadingMove{
0%{transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
100%{transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);}
}

#S_Loading .loading .img_loading{
	width: 100px;
    margin: auto;
}
#S_Loading .loading #loadingMove{
	 animation:loadingMove 2s infinite linear;
	-moz-animation:loadingMove 2s infinite linear; /* Firefox */
	-webkit-animation:loadingMove 2s infinite linear; /* Safari and Chrome */
	-o-animation:loadingMove 2s infinite linear; /* Opera */
	-ms-animation:loadingMove 2s infinite linear; /* Opera */
}


#S_Loading .loading .text_loading{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
}





































