#cheateList .cheateQuery{width:99%;margin:20px auto;}
#cheateList .cheateForm{border-bottom:1px #c7c7c7 solid;padding-bottom:20px;}
#cheateList .form-group{margin-top:5px;margin-left:10px;}
#cheateList .form-control{width:190px!important;}
#cheateList .form-control option{text-align:center;}
#cheateList #pageCss{text-align:center;width:99%;}
#cheateList td,th{padding: 5px 0px!important;text-align:center;}
#cheateList table{font-size:12px;}

.Jry_popup .Jcustom{margin:27% auto;}