<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.exam.dao.ExamAfterDataDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.exam.entity.ExamAfterData">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="file_name" property="fileName" jdbcType="VARCHAR"/>
		<result column="exam_plan_id" property="examPlanId" jdbcType="VARCHAR"/>
		<result column="exam_number_id" property="examNumberId" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime" />
		<result column="file_numbers" property="fileNumbers" />
		<result column="file_size" property="fileSize" />
		<result column="file_address" property="fileAddress" jdbcType="VARCHAR"/>
		<result column="file_byte" property="fileByte"/>
		<result column="file_type" property="fileType" jdbcType="VARCHAR"/>
		<result column="org_id" property="orgId" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, file_name, exam_plan_id, exam_number_id, start_time, end_time, file_numbers, file_size, file_address, file_byte, file_type, org_id, create_user, create_date, update_user, update_date, remark
    </sql>
    
    <insert id="insertExamAfterData">
        INSERT INTO JY_EXAM_AFTER_DATA_TAB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="fileName != null">file_name,</if>
			<if test="examPlanId != null">exam_plan_id,</if>
			<if test="examNumberId != null">exam_number_id,</if>
			<if test="startTime != null">start_time,</if>
			<if test="endTime != null">end_time,</if>
			<if test="fileNumbers != null">file_numbers,</if>
			<if test="fileSize != null">file_size,</if>
			<if test="fileAddress != null">file_address,</if>
			<if test="fileByte != null">file_byte,</if>
			<if test="fileType != null">file_type,</if>
			<if test="orgId != null">org_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
			<if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="fileName != null">#{fileName},</if>
			<if test="examPlanId != null">#{examPlanId},</if>
			<if test="examNumberId != null">#{examNumberId},</if>
			<if test="startTime != null">#{startTime},</if>
			<if test="endTime != null">#{endTime},</if>
			<if test="fileNumbers != null">#{fileNumbers},</if>
			<if test="fileSize != null">#{fileSize},</if>
			<if test="fileAddress != null">#{fileAddress},</if>
			<if test="fileByte != null">#{fileByte},</if>
			<if test="fileType != null">#{fileType},</if>
			<if test="orgId != null">#{orgId},</if>
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
			<if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    
    <update id="updateExamAfterData">
        update JY_EXAM_AFTER_DATA_TAB
        <set>
			<if test="fileName != null and '' != fileName">
				file_name = #{fileName},
			</if>
			<if test="examPlanId != null and '' != examPlanId">
				exam_plan_id = #{examPlanId},
			</if>
			<if test="examNumberId != null and '' != examNumberId">
				exam_number_id = #{examNumberId},
			</if>
			<if test="startTime != null and '' != startTime">
				start_time = #{startTime},
			</if>
			<if test="endTime != null and '' != endTime">
				end_time = #{endTime},
			</if>
			<if test="fileNumbers != null and '' != fileNumbers">
				file_numbers = #{fileNumbers},
			</if>
			<if test="fileSize != null and '' != fileSize">
				file_size = #{fileSize},
			</if>
			<if test="fileAddress != null and '' != fileAddress">
				file_address = #{fileAddress},
			</if>
			<if test="fileByte != null and '' != fileByte">
				file_byte = #{fileByte},
			</if>
			<if test="fileType != null and '' != fileType">
				file_type = #{fileType},
			</if>
			<if test="orgId != null and '' != orgId">
				org_id = #{orgId},
			</if>
            <if test="createUser != null and ''!=createUser">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and ''!=createDate">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null and ''!=updateUser">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null  and ''!=updateDate">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
			<if test="remark != null  and ''!=remark">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getExamAfterDataById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_EXAM_AFTER_DATA_TAB`
        WHERE id = #{id}
    </select>
    
    <select id="queryExamAfterDatasFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_EXAM_AFTER_DATA_TAB`
        WHERE 1 = 1
			<if test="fileName != null and '' != fileName">
				AND file_name = #{fileName}
			</if>
			<if test="examPlanId != null and '' != examPlanId">
				AND exam_plan_id = #{examPlanId}
			</if>
			<if test="examNumberId != null and '' != examNumberId">
				AND exam_number_id = #{examNumberId}
			</if>
			<if test="startTime != null and '' != startTime">
				AND start_time = #{startTime}
			</if>
			<if test="endTime != null and '' != endTime">
				AND end_time = #{endTime}
			</if>
			<if test="fileNumbers != null and '' != fileNumbers">
				AND file_numbers = #{fileNumbers}
			</if>
			<if test="fileSize != null and '' != fileSize">
				AND file_size = #{fileSize}
			</if>
			<if test="fileAddress != null and '' != fileAddress">
				AND file_address = #{fileAddress}
			</if>
			<if test="fileByte != null and '' != fileByte">
				AND file_byte = #{fileByte}
			</if>
			<if test="fileType != null and '' != fileType">
				AND file_type = #{fileType}
			</if>
			<if test="orgId != null and '' != orgId">
				AND org_id = #{orgId}
			</if>
			<if test="remark != null  and ''!=remark">
				AND remark = #{remark}
			</if>
    </select>
    
    <delete id="deleteExamAfterDataById" parameterType="java.lang.String">
        delete from `JY_EXAM_AFTER_DATA_TAB`
        where id = #{id}
    </delete>
    
    <delete id="deleteExamAfterDatas" parameterType="java.lang.String">
        delete from `JY_EXAM_AFTER_DATA_TAB`
        where id IN 
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>

	<delete id="clearExamAfterData">
		delete from `JY_EXAM_AFTER_DATA_TAB`;
	</delete>
    
</mapper>