#tables{
	min-height:300px;
}
body{
	width: 100%;
    background: #fcc;
}

::-webkit-scrollbar{width: 10px;position: absolute;right: 0px;top: 0px;z-index: 9999;}
::-webkit-scrollbar-track{background-color:#E0E0E0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}
::-webkit-scrollbar-thumb{background-color:#868686;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}

#autoCode .main{
    width: 98%;
    background: #fff;
    color: #666;
    min-height: 700px;
    margin: 80px auto;
    border-radius: 5px;
}
#autoCode .main .titleMain{
	width: 90%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	border-bottom: 1px #c7c7c7 solid;
	margin: auto;
	position: relative;
	
}

#autoCode .formData{
	width: 90%;
	margin:30px auto;
	/*padding-bottom: 50px;
	border-bottom: 1px #c7c7c7 solid;*/
}

#autoCode .formData .items{
	position: relative;
	width: 21%;
	margin:20px 2% 0px 2%;
}

#autoCode .formData .items .fomatInput{
	width: 100%;
	float: left;
	display: block;
	padding:0 4%;
	border: none;
	border-bottom:1px #c7c7c7 solid;
	height:35px;
	padding-top:5px;
	line-height:40px;
	font-size:16px;
	background: rgba(255,255,255,0);
}
#autoCode .formData .items .query_btn{
	width:100px;
	height: 30px;
	line-height: 30px;
	border:1px #c7c7c7 solid;
	border-radius:5px;
	margin-top:10px;
	
}
#autoCode .formData .items .query_btn:hover{
	color:#ca2450;
	border-color:#ca2450;
}

#autoCode .formData .items .placeholder{
	position: absolute;
	left: 3%;
	top: 0px;
	height: 40px;
	line-height: 40px;
	width: 97%;
	font-size: 16px;
}

.answer-body{
	width:95%;
	margin:auto;
	display:flex;
}
.answer-body #randar{
	width:300px;
	height:400px;
}
.answer-body .table_right{
	width:calc(100% - 320px);
	margin-left:20px;
}

#autoCode .formData .fomatInput:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0px;
    border-bottom-color:#ca2450
}
:focus {
    outline: -webkit-focus-ring-color none 0px;
}