.container{
	position: relative;
	height:100vh;
}
.footer{
	display: flex;
	margin-top: 30px;
	width:auto;
	position: absolute;
	right:10px;
	bottom:250px;
}
.footer .pagination li.disabled a{
    pointer-events: none;
    cursor: not-allowed;
}
.footer .pagination li.disabled a:hover{
    cursor: not-allowed;
}
.footer .pagination{
	margin: 0px 20px;
}
.footer .pagination li a{
	width: 40px;
	text-align: center;
}
.footer ul.dropdown-menu{
	min-width: 80px;
	max-width: 80px;
}
.footer span{
	line-height: 34px;
}
.footer .input-group{
	width: 80px;
	margin: 0 10px;
}