#config{
	width:98%;
	margin:40px auto;
}
#config .title{
	font-size:18px;
	height:50px;
	line-height:50px;
	border-bottom:1px #cecece solid;
}

#config .title_half_left{
	width:98%;
	margin-right:4%;
}
#config .title_half_right{
	width:98%;
	margin-left:4%;
}
#config .right_btn{
	width:40%;
	margin-top:10px;
	margin:10px 5%;
	height:40px;
	line-height:40px;
	color:#00bcd4;
	background:#fff;
	border:1px #00bcd4 solid;
	box-sizing: border-box!important;
	position:relative;
}
#config .right_btn.active{
	color:#fff;
	background:#00bcd4;
}

#config .right_btn.fobid{
	color: #616161;
    background: #d2d2d2;
    border-color:#d2d2d2;
    cursor:no-drop;
}
#config .right_btn div{
	position:absolute;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	left:5px;
	top:5px;
	font-size:16px;
}

#config .clear_btn{
	width:200px;
	height:40px;
	line-height:40px;
	margin:10px auto;
	background:#00bcd4;
	color:#fff;
	border-radius:4px;
}


#config .services{
	
}
#config .services .items{
	width:40%;
	margin:10px 3%;
	background:#00bcd4;
	color:#fff;
	border-radius:10px;
}
#config .services .items .ac{
	height:40px;
	line-height:40px;
	
}
#config .services .items .ser_name{
	padding-left:30px;
	height:40px;
	line-height:40px;
}
#config .services .items .ser_status{
	font-size:16px;
}
#config .services .items .ser_opretion .ser_opretion_img{
    margin-top: 6px;
    margin-right: 5px;
}
#config .services .items.close{
	background:#a0a0a0;
}
#config input{
	background: #e0e0e0;
	box-shadow: none;
	border-image: none;
	outline-offset:none;
	border:none;
	font-family: "Microsoft YaHei" !important;
	-webkit-appearance: none;
}

#config .query_items{
	width: 50%;
	margin:10px 2% 10px 0%;
	float: left;
	height:45px;
}
#config .query_items:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#config .query_items label{
	width: 17%;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
}
#config .query_items .inputDivOne{
	width: 70%;
	float: left;
}

#config  .query_items .inputDivOne input{
	width: 90%;
	height: 40px;
	line-height: 40px;
	padding: 0px 5%;
	margin:0px;
}
#config .mt20{
	margin-top:20px;
}
#config .info_text{
	padding-left:10px;
	font-size:16px;
	color:#666;
	height: 40px;
	line-height: 40px;
}