<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.org.dao.OrgDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.org.entity.Org">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="p_id" property="pId" jdbcType="VARCHAR"/>
		<result column="org_name" property="orgName" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, p_id, org_name, create_user, create_date, update_user, update_date
    </sql>
    
    <insert id="insertOrg">
        INSERT INTO ORG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="pId != null">p_id,</if>
			<if test="orgName != null">org_name,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="pId != null">#{pId},</if>
			<if test="orgName != null">#{orgName},</if>
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    
    <update id="updateOrg">
        update ORG
        <set>
			<if test="pId != null and '' != pId">
				p_id = #{pId},
			</if>
			<if test="orgName != null and '' != orgName">
				org_name = #{orgName},
			</if>
            <if test="createUser != null and ''!=createUser">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and ''!=createDate">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null and ''!=updateUser">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null  and ''!=updateDate">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getOrgById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `ORG`
        WHERE id = #{id}
    </select>
    
    <select id="queryOrgsFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `ORG`
        WHERE 1 = 1
			<if test="pId != null and '' != pId">
				AND p_id = #{pId}
			</if>
			<if test="orgName != null and '' != orgName">
				AND org_name = #{orgName}
			</if>
    </select>
    
    <delete id="deleteOrgById" parameterType="java.lang.String">
        delete from `ORG`
        where id = #{id}
    </delete>
    
    <delete id="deleteOrgs" parameterType="java.lang.String">
        delete from `ORG`
        where id IN 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>