/* .form-group{
width:80%;
}

.col-sm-10{
width:50%;
} */

.Jcustom{
    width:500px;
    margin:5% auto;
    /* background:#fff; */
}

.Jcustom .Jcustom_title{
    width:100%;
    height:25px;
    line-height:25px;
    color:#fff;
    background:#00bcd5;
    text-align:center;
    font-size: 16px;
}

.Jcustom .Jcustom_content{
    padding:20px 30px;
}

.Jcustom .Jcustom_content .Jcustom_content_items{
    margin:10px 0px;
}

.Jcustom .Jcustom_content .Jcustom_content_items label{
    display:block;
    float:left;
    width:120px;
    height:40px;
    line-height:40px;
    font-size:16px;
    font-width:500;
    text-align:center;
}

.Jcustom .Jcustom_content .Jcustom_content_items input{
    float:left;
    width:298px;
    padding:0px 10px;
    height:38px;
    line-height:38px;
    background: #fff;
    box-shadow: none;
    border-image: none;
    outline-offset:0;
    border:1px #e0e0e0 solid;
    font-family: "Microsoft YaHei" !important;
}

/* .Jcustom .Jcustom_content form{

} */

.Jcustom .Jcustom_content .Jcustom_content_items select{
    height: 40px;
    width: 310px;
    padding-left:10px;
}

.Jcustom .Jcustom_content .Jcustom_content_items input:focus{
    outline:none;
    border-color:#ccc;
}

.Jcustom .Jcustom_content .Jcustom_content_items .error_text{
    width:300px;
    float:right;
    text-align:center;
    color:#ff6868;
    height:17px;
    line-height:17px;
}

.Jcustom .Jcustom_content .haserror input{
    border-color:#ff6868;
}

.Jcustom .Jcustom_content .haserror input:focus{
    border-color:#ff6868;
}

.Jcustom .Jcustom_content .Jcustom_content_btns{
    margin-top:20px;
    margin-left:200px;

}

.Jcustom .Jcustom_content .Jcustom_content_btns .btns{
    height:40px;
    line-height:40px;
    color:#fff;
    width:150px;
    border-radius:3px;
    text-align:center;
    font-size:16px;
    cursor:pointer;
}

.Jcustom .Jcustom_content .Jcustom_content_btns .okBtn{
    float:left;
    background:#00bcd5;
}

.Jcustom .Jcustom_content .Jcustom_content_btns .cancelBtn{
    float:right;
    background:#777;
}

.Jcustom .Jcustom_content .Jcustom_content_items:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.Jcustom .Jcustom_content .Jcustom_content_btns:after{content:".";display:block;height:0;clear:both;visibility:hidden;}