<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.questionBank.dao.QuestionBankDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.questionBank.entity.QuestionBank">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="question" property="question" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="score" property="score" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
		<result column="ablity" property="ablity" jdbcType="VARCHAR"/>
		<result column="answer" property="answer" jdbcType="VARCHAR"/>
		<result column="revers" property="revers" jdbcType="INTEGER"/>
    </resultMap>
    
    <resultMap id="BaseResultMapVO" type="com.jy.moudles.questionBank.VO.QuestionBankVO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="question" property="question" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="INTEGER"/>
		<result column="score" property="score" jdbcType="INTEGER"/>
		<result column="ablity" property="ablity" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
		<result column="answer" property="answer" jdbcType="VARCHAR"/>
		<result column="revers" property="revers" jdbcType="INTEGER"/>
		<collection property="questionItems" javaType="list" ofType="com.jy.moudles.questionItems.entity.QuestionItems">
			<result column="id_q" property="id" jdbcType="VARCHAR"/>
			<result column="answer_item" property="answerItem" jdbcType="VARCHAR"/>
			<result column="answer_key" property="answerKey" jdbcType="VARCHAR"/>
	    </collection>
    </resultMap>
    
    <sql id="Base_Column_List">
       id, question, sort, score, ablity, answer
    </sql>
    
    <sql id="Base_Column_List_items">
       b.id, b.question, b.sort,b.type,b.img_url, b.score, b.ablity, b.answer,revers,answer_item,answer_key,q.id as id_q
    </sql>
    
    <sql id="Base_Column_List_items_no_answer">
       b.id, b.question, b.sort,b.type,b.img_url, b.score, b.ablity,answer_item,answer_key,q.id as id_q
    </sql>
    
    <insert id="insertQuestionBank">
        INSERT INTO QUESTION_BANK
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="question != null">question,</if>
			<if test="sort != null">sort,</if>
			<if test="score != null">score,</if>
			<if test="ablity != null">ablity,</if>
			<if test="answer != null">answer,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="question != null">#{question},</if>
			<if test="sort != null">#{sort},</if>
			<if test="score != null">#{score},</if>
			<if test="ablity != null">#{ablity},</if>
			<if test="answer != null">#{answer},</if>
        </trim>
    </insert>
    
    <update id="updateQuestionBank">
        update QUESTION_BANK
        <set>
			<if test="question != null and '' != question">
				question = #{question},
			</if>
			<if test="sort != null and '' != sort">
				sort = #{sort},
			</if>
			<if test="score != null and '' != score">
				score = #{score},
			</if>
			<if test="ablity != null and '' != ablity">
				ablity = #{ablity},
			</if>
			<if test="answer != null and '' != answer">
				answer = #{answer},
			</if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getQuestionBankById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `QUESTION_BANK`
        WHERE id = #{id}
    </select>
    
    <select id="getAllQuestion" resultMap="BaseResultMapVO">
    	SELECT
        <include refid="Base_Column_List_items_no_answer"/>
        from `QUESTION_BANK` b 
        left join QUESTION_ITEMS q on b.id = q.question_id 
		order by b.sort,q.sort
    </select>
    
    <select id="queryQuestionBanksFilter" resultMap="BaseResultMapVO">
        SELECT
        <include refid="Base_Column_List_items"/>
        from `QUESTION_BANK` b 
        left join QUESTION_ITEMS q on b.id = q.question_id 
        WHERE 1 = 1
			<if test="question != null and '' != question">
				AND question LIKE CONCAT('%',#{question},'%')
			</if>
			<if test="ablity != null and '' != ablity">
				AND ablity = #{ablity}
			</if>
		order by b.sort,q.sort
    </select>
    
    <delete id="deleteQuestionBankById" parameterType="java.lang.String">
        delete from `QUESTION_BANK`
        where id = #{id}
    </delete>
    
    <delete id="deleteQuestionBanks" parameterType="java.lang.String">
        delete from `QUESTION_BANK`
        where id IN 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>