.loginBg{
	padding: 0;
	background: url(../../img/login-blurry-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	padding-top:250px;
	width:100vw;
	height:100vh;
}
.login-container{
	width:375px;
	margin-left:65%;
	background-color: #F7F7F7;
	padding: 16px 36px 36px;
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
	border-radius: 40px;
}

.login-container .loginTitle{
	color: #478fca;
	font-size: 19px;
	border-bottom: 1px solid #d5e3ef;
	padding-bottom: 8px;
	margin:20px 0 10px 0;
}
.login-container .loginTitle span{
	color: #69aa46;
	margin-right: 8px;
}
.login-container form div.input-group {
	width: 300px;
	margin: 10px 0 10px 0;
}
.login-container form div input.form-control{
	border-radius:0;
}
.login-container form span.input-group-addon{
	position: absolute;
	color: #909090;
	background-color: inherit;
	border: 0;
	z-index: 10;
	left: 260px;
	top: 4px;
}
.login-container form div.clearfix{
	margin-top:30px;
}
.login-container form div .btn{
	border-radius: 0;
}
.login-container.loginFoot a:hover{
	text-decoration:underline;
}
#login-box form div.clearfix .checkbox{
	margin-left: 20px;
	margin-top: 5px;
}
#login-box .loginFoot{
	margin-top: 35px;
}
#login-box .loginFoot .pull-left{
	color: rgb(0, 175, 0);
}

#forgot-box .loginTitle{
	color: #dd5a43;
	border-bottom: 1px solid #f3cdc6;
}
#forgot-box form .input-group:first-child .glyphicon{
	line-height: 1.42857143;
}
#forgot-box .loginTitle span {
	color: inherit;
}
#forgot-box form .clearfix span{
	margin-right: 5px;
}
#forgot-box .loginFoot a,#changePwd .loginFoot a{
	color: rgb(167, 52, 56);
}
#forgot-box form div input[name=code]{
	width: 110px;
}
#forgot-box form div.input-group:nth-of-type(3) span{
	line-height: 34px;
	margin-left: 5px;
}
#changePwd .loginTitle{
	color: #69aa46;
	border-bottom: 1px solid #cce2c1;
}
.widget-box.visible {
	visibility: visible;
	position: relative;
	z-index: auto;
	-moz-transform: scale(1,1) translate(0);
	-webkit-transform: scale(1,1) translate(0);
	-o-transform: scale(1,1) translate(0);
	-ms-transform: scale(1,1) translate(0);
	transform: scale(1,1) translate(0);
	transition: transform .3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-o-transition: -o-transform 0.2s ease;
}
.widget-box {
	visibility: hidden;
	position: fixed;
	z-index: -5;
	border-bottom: none;
	box-shadow: none;
	padding: 6px;
	-moz-transform: scale(0,1) translate(-150px);
	-webkit-transform: scale(0,1) translate(-150px);
	-o-transform: scale(0,1) translate(-150px);
	-ms-transform: scale(0,1) translate(-150px);
	transform: scale(0,1) translate(-150px);
}