#orgMain{
	width:100%;
}
.leftPart{
	width:30%;
	margin-right:5%;
}
.rightPart{
	width:65%;
	padding-top:10px;
}
#organizationListTree{
	width:72%;
	margin:10px auto;
	font-size:16px;
}
.searchs{
	margin-top:20px;
}
.searchs input {
    height: 40px;
    line-height: 40px;
    padding: 0px 5%;
    width: 80%;
}
.searchs input, select {
    background: #e0e0e0;
    box-shadow: none;
    border-image: none;
    outline-offset: none;
    border: none;
    font-family: "Microsoft YaHei" !important;
    -webkit-appearance: none;
}

.searchInput{
	width:55%;
	height:40px;
	padding-left:14%;
}
.searchImg{
	width:40px;
	height:40px;
}

.Jcustom_content{
	padding:20px 30px;
}

.Jcustom_content .Jcustom_content_items{
	margin:10px 0px;
}
.Jcustom_content .Jcustom_content_items label{
	display:block;
	float:left;
	width:120px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-width:500;
	text-align:center;
}
.Jcustom_content .Jcustom_content_items input{
	float:left;
	width:298px;
	padding:0px 10px;
	height:38px;
	line-height:38px;
	background: #fff;
	box-shadow: none;
	border-image: none;
	outline-offset:none;
	border:1px #e0e0e0 solid;
	font-family: "Microsoft YaHei" !important;
}
.Jcustom_content form{
	max-height:420px;
	width:440px;
	
}
.Jcustom_content .Jcustom_content_items select{
	height: 40px;
    width: 100px;
    padding-left:4px;
    -webkit-appearance: none;
   
}
.Jcustom_content .Jcustom_content_items select option{
	text-align:center;
}
.Jcustom_content .Jcustom_content_items input:focus{
	outline:none;
	border-color:#ccc;
}
.Jcustom_content .Jcustom_content_items .error_text{
	width:320px;
	float:right;
	text-align:center;
	color:ff6868;
	height:17px;
	line-height:17px;
}
.Jcustom_content .haserror input{
	border-color:#ff6868;
}
.Jcustom_content .haserror input:focus{
	border-color:#ff6868;
}

.Jcustom_content .Jcustom_content_btns{
	margin-top:20px;
	
}
.Jcustom_content .Jcustom_content_btns .btns{
	height:40px;
	line-height:40px;
	color:#fff;
	width:150px;
	border-radius:3px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
}

.btn{
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin: auto;
}
.btns .btn{
	width: 40%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin:auto 5%;
}
.forbid{
	background-color: #ff6767!important;
}