<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.kafka.dao.KafkaSyncDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.kafka.entity.KafkaSync">
		<id column="id" property="id"/>
		<result column="data_id" property="dataId"/>
		<result column="time" property="time"/>
		<result column="type" property="type" />
	</resultMap>
	
    <select id="queryMaxTimeByType" resultType="java.util.Date" parameterType="java.lang.String">
    	SELECT MAX(time) FROM JY_KAFKA_SYNC WHERE type = #{type}
    </select>
     
    <insert id="addKafkaSync" parameterType="com.jy.moudles.kafka.entity.KafkaSync">
    	INSERT INTO JY_KAFKA_SYNC (id,data_id,time,type) VALUES (#{id},#{dataId},#{time},#{type})
    </insert>
    
    <delete id="deleteKafkaSync" parameterType="java.lang.String">
    	DELETE FROM JY_KAFKA_SYNC WHERE time &lt; #{time}
    </delete>
    
    <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String">
    	SELECT * FROM JY_KAFKA_SYNC WHERE data_id = #{dataId}
    </select>
    
    <update id="updateKafkaSync" parameterType="com.jy.moudles.kafka.entity.KafkaSync">
    	update JY_KAFKA_SYNC 
    	<set>
			<if test="time != null and '' != time">
				time = #{time},
			</if>
			<if test="type != null and '' != type">
				type = #{type},
			</if>
    	</set>
    	<where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>

</mapper>